@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

html,
body,
:root {
  height: 100%;
  background: #000000;
  color-scheme: dark;
}

body {
  max-width: 1600px;
  margin: auto;
}

.duration-el {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #34d399;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: loader 1s infinite linear;
}

.like-button-animation::before,
.like-button-animation::after {
  position: absolute;
  content: "";
  width: 150%;
  top: 15%;
  left: 50%;
  height: 150%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.like-button-animation::before {
  top: -60%;
  background-image: radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #22c55e 20%, transparent 30%),
    radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #22c55e 15%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%);
  background-size: 30% 30%, 20% 40%, 15% 35%, 20% 40%, 28% 68%, 50% 20%, 15% 45%,
    10% 40%, 18% 38%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease forwards;
}

.like-button-animation::after {
  bottom: -40%;
  background-image: radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #22c55e 15%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%),
    radial-gradient(circle, #22c55e 20%, transparent 20%);
  background-size: 25% 35%, 20% 40%, 18% 58%, 20% 60%, 15% 35%, 20% 50%, 18% 38%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease forwards;
}

.scroll-animation__container:hover .child_1,
.scroll-animation__container:hover .child_2 {
  animation-play-state: paused;
}

.scroll-animation {
  animation: scroll 12s linear infinite;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

@keyframes scroll {
  0%,
  20% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes loader {
  to {
    transform: rotate(1turn);
  }
}

@media (display-mode: standalone) {
  * {
    user-select: none;
    -webkit-user-select: none;
  }

  .player {
    padding: env(safe-area-inset-top), env(safe-area-inset-right),
      env(safe-area-inset-bottom), env(safe-area-inset-left);
  }

  .download-btn {
    display: none;
  }
}
